h1 {font-family:bookman old style ;color:white ;background-color:blue ;font-weight:bold;text-align:center;}

h2 {font-family:bookman old style ;color:white ;background-color:light blue ;font-weight:bold;text-align:center;}

p, div, ul, ol ,li {font-family:times new roman ;color:white ;background-color:light blue ;font-weight:bold;}

img {border-radius:45 px;width:500px;height:500px; border: 4px solid blue;}

hr {color:light blue;width:100%; height:15 px;}

th, td{border:1px solid white;color:white;font-family:bookman old style;background-color:blue;text-align:center;border-collapse:separate;border-spacing:15px;
		  width:50 px;height: 25px;}
		  
a {color:white;font-family:bookman old style;background-color:blue;text-align:center;border-collapse:separate;border-spacing:15px;
		  width:50 px;height: 25px;}

body {background-color:#1dadc0;}